.table-striped > div.row:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table > div.row > div
{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.subTable > div.row
{
  padding-top:4px;
  padding-bottom:4px;
}
.subTable > div.row:first-child
{
  padding-top:0px;
}
.table>.row.headers
{
  font-weight:bold;
}

a:visted{
    color: purple;
}
