<div class="" style="margin-left:10px; margin-right:10px;">
  <div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="pointSolution" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Choose a Point Solution
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="pointSolution">
      <li><a href ng-click="getSprints(190);" id="pointSolution-190">Media/Core</a></li>
      <li><a href ng-click="getSprints(208);" id="pointSolution-208">Search</a></li>
      <li><a href ng-click="getSprints(202);" id="pointSolution-202">Profile</a></li>
    </ul>
  </div>
</div>
<div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle hide" type="button" id="sprintDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Choose a Sprint
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sprintDropdown">
      <li ng-repeat="sprint in sprints"><a href ng-click="getEpics(sprint.id);" id="sprint-{{sprint.id}}">{{sprint.name}}</a></li>
    </ul>
  </div>
</div>

<div class="page-header">
  <h1><span>Point Solution:</span> <small>Sprint</small></h1>
</div>

<table class = "table" style="width:100%">
  <tr>
    <th>Issue</th>
    <th>Epic Name</th>
    <th>QA Owner</th>
    <th># of Tickets</th>
    <th>% Deployed</th>
    <th>% Coded</th>
    <th>% Open</th>
    <th>% Reopened</th>
    <th>% In Development</th>
    <th>% Code Review</th>
    <th>% In Test</th>
    <th>% Tested</th>
    <th>% Closed</th>
    <th># of FixBug Subtasks</th>
    <th>% of Blockers</th>
  </tr>
  <tr ng-repeat="issue in completeResults">
    <td>
      <a href="http://jira.ignitionone.com/browse/{{ issue.key }}" target="_blank">{{ issue.key }}</a>
    </td>
    <td>
      {{ issue.name }}
    </td>
    <td>
      {{ issue.qaowner }}
    </td>
    <td>
      {{ issue.stories.length }}
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Deployed'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Coded'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Open'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Reopened'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='In Development'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Code Review'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='In Test'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
      </td>
      <td>
        <span ng-repeat="status in issue.storyStatuses" >
            <span ng-if="status.name=='Tested'" >
              {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
            </span>
        </span>
      </td>
      <td>
        <span ng-repeat="status in issue.storyStatuses" >
            <span ng-if="status.name=='Closed'" >
              {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
            </span>
        </span>
      </td>
      <td>
        {{ issue.countFixBugs }}
      </td>
      <td>
        <span ng-if="issue.countFixBugs > 0" >
          {{ ((issue.countBlockers)/(issue.countFixBugs)*100) | number:0 }}%
        </span>
        <span ng-if="issue.countFixBugs == 0" >
          0%
        </span>
      </td>

  </tr>
</table>
