<div class="" style="margin-left:10px; margin-right:10px;">
  <div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="pointSolution" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Choose a Point Solution
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="pointSolution">
      <li><a href ng-click="getSprints(190);" id="pointSolution-190">Media/Core</a></li>
      <li><a href ng-click="getSprints(208);" id="pointSolution-208">Search</a></li>
      <li><a href ng-click="getSprints(202);" id="pointSolution-202">Profile</a></li>
    </ul>
  </div>
</div>
<div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle hide" type="button" id="sprintDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Choose a Sprint
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sprintDropdown">
      <li ng-repeat="sprint in sprints"><a href ng-click="getEpics(sprint.id);" id="sprint-{{sprint.id}}">{{sprint.name}}</li>
    </ul>
  </div>
</div>
<div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle hide" type="button" id="totalByDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Total By
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="totalByDropdown">
      <li><a href ng-click="getSprints(190);" id="pointSolution-190">Active Sprint Only</a></li>
      <li><a href ng-click="getSprints(190);" id="pointSolution-190">All for Active Epics</a></li>
    </ul>
  </div>
</div>

<div class="page-header">
  <h1><span>Point Solution:</span> <small>Sprint</small></h1>
</div>

<table class = "table" style="width:100%">
  <tr>
    <th>Issue</th>
    <th>Epic Name</th>
    <th>Product Manager</th>
    <th>QA Owner</th>
    <th># of Tickets</th>
    <th bgcolor="#81BEF7">% To Do</th>
    <th bgcolor="#81BEF7">% Reopened</th>
    <th bgcolor="#F3F781">% In Development</th>
    <th bgcolor="#F3F781">% Ready for Test</th>
    <th bgcolor="#F3F781">% In Test</th>
    <th bgcolor="#F3F781">% Tested - Ready for Verification</th>
    <th bgcolor="#9FF781">% Closed - Stakeholder Verified</th>
    <th>Charts</th>
  </tr>
  <tr ng-repeat="issue in completeResults">
    <td>
      <a href="http://jira.ignitionone.com/browse/{{ issue.key }}" target="_blank">{{ issue.key }}</a>
    </td>
    <td>
      {{ issue.name }}
    </td>
    <td>
      {{ issue.productmanager }}
    </td>
    <td>
      {{ issue.qaowner }}
    </td>
    <td>
      {{ issue.stories.length }}
    </td>
    <td bgcolor="#81BEF7">
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='To Do'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td bgcolor="#81BEF7">
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Reopened'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td bgcolor="#F3F781">
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='In Development'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td bgcolor="#F3F781">
      <span ng-repeat="status in issue.storyStatuses">
        <span ng-if="status.name=='Ready for Test'">
          {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
        </span>
      </span>
    </td>
    <td bgcolor="#F3F781">
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='In Test'" >
            {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td bgcolor="#F3F781">
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Tested'" >
              {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td bgcolor="#9FF781">
      <span ng-repeat="status in issue.storyStatuses" >
          <span ng-if="status.name=='Closed'" >
              {{ ((status.tickets/issue.stories.length)*100) | number:0 }}%
          </span>
      </span>
    </td>
    <td>
        <a href="/index.html#/sprintreportscharts">Pie Chart</a>
    </td>


  </tr>
</table>
